{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Генератор карт</h5>
                    <br>
                    <p class="text-center small">Введите следующие данные для генерации карт</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate>

                    <div class="col-12">
                      <label for="cardSeries" class="form-label">Серия карт</label>
                      <input type="text" name="name" class="form-control" id="cardSeries" required>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>

                    <div class="col-12">
                      <label for="numCount" class="form-label">Количество цифр в номере</label>
                      <input type="text" name="name" class="form-control" id="numCount" required>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>

                    <div class="col-12">
                      <label for="cardAmount" class="form-label">Количество карт</label>
                      <input type="email" name="email" class="form-control" id="cardAmount" required>
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>

                    <div class="col-12">
                      <label for="cardTerm" class="form-label">Срок действия</label>
                      <input type="email" name="email" class="form-control" id="cardTerm" required>
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>


                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Сгенерировать</button>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

{% endblock %}