{% extends 'base.html' %}
{% load static %}
{% load get_index %}

{% block content %}

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'card_generator' %}">
                <i class="bi bi-card-list"></i>
                <span>Генератор карт</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'card_profile' %}">
                <i class="bi bi-file-earmark"></i>
                <span>Детали карты</span>
            </a>
        </li>

    </ul>

</aside>

<main id="main" class="main">
    <div class="pagetitle" align="center">
        <h1>Список карт</h1>
        {% include 'includes/alerts.html' %}
        <br>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Серия</th>
                                <th scope="col">Номер</th>
                                <th scope="col">Дата выпуска</th>
                                <th scope="col">Дата окончания активности</th>
                                <th scope="col">Статус</th>
                                <th scope="col">Активация</th>
                                <th scope="col">Удалить</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for card in all_cards %}
                            <tr>
                                <th scope="row">{{ cards_idx|get_index:forloop.counter0 }}</th>
                                <td>{{ card.card_series }}</td>
                                <td>{{ card.card_number }}</td>
                                <td>{{ card.created_date }}</td>
                                <td>{{ card.end_activity_date }}</td>


                                {% if card.status == 'not_activated' %}
                                <td>{{ card.get_status_display }}</td>
                                {% elif card.status == 'activated' %}
                                <td style="color:#82CD47">{{ card.get_status_display }}</td>
                                {% else %}
                                <td style="color:red">{{ card.get_status_display }}</td>
                                {% endif %}


                                {% if card.status == 'not_activated' %}
                                <td><a href="{% url 'activate_card' card.pk %}"
                                   class="btn btn-outline-primary btn-sm">Активировать</a>
                                </td>
                                {% elif card.status == 'activated' %}
                                <td><a href="{% url 'activate_card' card.pk %}"
                                   class="btn btn-outline-dark btn-sm">Деактивация</a>
                                </td>
                                {% else %}
                                <td></td>
                                {% endif %}


                                <td><a href="{% url 'delete_card' card.pk %}"
                                   onclick="return confirm('Вы уверены, что хотите удалить данную карту?')"
                                   class="btn btn-outline-danger btn-sm" >Удалить</a>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}