{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Генератор карт</h5>
                                    <br>
                                    <p class="text-center small">Введите следующие данные для генерации карт</p>
                                </div>

                                <form action="{% url 'card_generator' %}" method="POST" class="row g-3 needs-validation">
                                    {% csrf_token %}

                                    <div class="col-12">
                                        <label class="form-label">Серия карт
                                            <br><small><em>(состоит из заглавных букв или цифр)</em></small></label>
                                        {{ form.card_series }}
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label">Количество цифр в номере</label>
                                        {{ form.digits_number }}
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label">Количество карт</label>
                                        {{ form.card_number }}
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label">Срок действия</label>
                                        {{ form.term_activity }}
                                    </div>


                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary w-100">Сгенерировать</button>
                                    </div>
                                    {% include 'includes/alerts.html' %}
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->

{% endblock %}